:root { 
--gray_50_01:#fff5f5; 
--deep_orange_A200:#ff7b38; 
--blue_gray_50:#edf2f7; 
--red_600:#e53e3e; 
--blue_gray_100_01:#d0d5dd; 
--indigo_A200:#4475f2; 
--red_300:#f56565; 
--blue_A200:#4285f4; 
--red_500:#eb4335; 
--green_600:#34a853; 
--gray_50:#f7fafc; 
--green_500:#38a169; 
--green_400:#48bb78; 
--black_900:#000000; 
--yellow_800:#d69e2e; 
--blue_gray_800:#344054; 
--blue_gray_700:#4a5568; 
--blue_gray_900:#2d3748; 
--blue_gray_200:#a0aec0; 
--blue_gray_100:#cbd5e0; 
--blue_gray_400:#718096; 
--amber_500:#fbbc05; 
--blue_gray_300:#97a3b6; 
--indigo_50:#e2e8f0; 
--lime_800:#b7791f; 
--gray_900:#1a202c; 
--blue_gray_500:#667085; 
--yellow_50:#fffff0; 
--blue_50:#ebf8ff; 
--gray_100:#f0fff4; 
--white_A700_01:#fcfdff; 
--white_A700:#ffffff; 
--deep_purple_A100_0f:#c163f90f; 
}